header.header
    .header__warapper
        a(href="/")
            i.fas.fa-h-square
        ul
            li.link__login 
                a(href="/login") log in
            li.link__signin 
                a(href="/join") join